.container {
  display: flex;
  flex-direction: column;
  font-family: "JetBrains Mono", monospace;
  align-items: center;
  color: #36395A;
}

body {
  background-color: #F7EDE2;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-item {
  display: flex;
  justify-content: space-between;
}

.form-item-radio {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

footer {
  margin-top: 300px;
}